@charset "utf-8";
.container .banner {
    background-image: url(images/6.jpg);
}
#hero .hero {

}
.container #hero {
    background-image: url(images/1.jpg);
}
.container #about {
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(243,184,110,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(243,184,110,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(243,184,110,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(243,184,110,1.00) 100%);
}
.container header {
    background-color: #E0A2A3;
}
.container #contact {
    background-image: url(images/222.jpg);
}
.container .copyright {
    background-color: #D4A0A1;
}
